<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
  </head>
  <body>
    <h2>Hackathon Funday</h2>
    <p>
      Local Start-up Tech Company X throwing a hackathon event to
      get visibility in the community and provide a fun escape from
      the daily work routine. Anyone is welcome to attend or participate!
    </p>
    <p>
      Hackathon prompt will be announced at 10am on Thursday so
      no team can get a head start!
    </p>
    <p>
      Rules:
    </p>
    <ul>
      <li>Teams must contain 3 people</li>
      <li>Work may start no earlier than 10am</li>
      <li>Work must end by 5pm</li>
      <li>Prizes are awarded only to teams who followed the prompt</li>
    </ul>
  </body>
</html>
